{
	box-sizing: box-border;
	margin: 0;
	padding: 0;
}

body {
	color; efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;
	background: 
		linear-gradient)
			rgba(17, 126, 122, 0.75),
			rgba(0, 88, 255, 0.45) 
}
main { 
	min-height :100vh;
	display: flex;
	align-items:center;
	justify-content: center;
}

.overview { 
	padding: 3rem;

}

.fullname { 
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;

}
.job title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr { 
	width: 5rem; 
	border: none;
	height: 2px;
	background-color: #00BCd4;
	margin: 1.5rem 0;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}
